In [15]:
import pandas as pd
shopdataset_comNull = pd.read_excel('./basededados.xlsx')
# Removendo os valores null
shopdataset = shopdataset_comNull.dropna()

In [16]:
print(shopdataset.isnull().sum())

Unnamed: 0             0
CustomerID             0
Gender                 0
Location               0
Tenure_Months          0
Transaction_ID         0
Transaction_Date       0
Product_SKU            0
Product_Description    0
Product_Category       0
Quantity               0
Avg_Price              0
Delivery_Charges       0
Coupon_Status          0
GST                    0
Date                   0
Offline_Spend          0
Online_Spend           0
Month                  0
Coupon_Code            0
Discount_pct           0
dtype: int64

In [17]:
print(shopdataset.notnull().sum())

Unnamed: 0             52524
CustomerID             52524
Gender                 52524
Location               52524
Tenure_Months          52524
Transaction_ID         52524
Transaction_Date       52524
Product_SKU            52524
Product_Description    52524
Product_Category       52524
Quantity               52524
Avg_Price              52524
Delivery_Charges       52524
Coupon_Status          52524
GST                    52524
Date                   52524
Offline_Spend          52524
Online_Spend           52524
Month                  52524
Coupon_Code            52524
Discount_pct           52524
dtype: int64